@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

*, html, body{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Nunito {
  font-family: "Nunito", sans-serif;
}
.left-position {
  left: 16.66%;
}
::-webkit-scrollbar {
  width: 0;
}
.calc-height {
  height: calc(100vh - 5rem);
}
.switchOn {
  right: 0.25rem;
}
.switchOff {
  right: 1.25rem;
}
.zindex1000 {
  z-index: 1000;
}
.zindex2000 {
  z-index: 2000;
}
.h-calc{
  height: calc(100vh - 5rem);
}